{% extends 'portfolio/base.html' %}

{% block content %}
  {% include 'portfolio/sections/hero.html' %}
  {% include 'portfolio/sections/about.html' %}
  {% include 'portfolio/sections/stats.html' %}
  {% include 'portfolio/sections/skills.html' %}
  {% include 'portfolio/sections/resume.html' %}
  {% include 'portfolio/sections/portfolio.html' %}
  {% include 'portfolio/sections/services.html' %}
  {% include 'portfolio/sections/testimonials.html' %}
  {% include 'portfolio/sections/contact.html' %}
{% endblock %}
