<section id="contact" class="contact section">
  <div class="container section-title" data-aos="fade-up">
    <h2>Contact</h2>
    <p>Get in touch with me for collaboration opportunities or project discussions</p>
  </div>

  <div class="container" data-aos="fade-up" data-aos-delay="100">
    <div class="row gy-4">
      <div class="col-lg-5">
        {% include 'portfolio/partials/contact_info.html' %}
      </div>
      <div class="col-lg-7">
        {% include 'portfolio/partials/contact_form.html' %}
      </div>
    </div>
  </div>
</section>