<section id="resume" class="resume section">
  <div class="container section-title" data-aos="fade-up">
    <h2>Resume</h2>
    <p>My professional journey, education background, and work experience in the field of software development.</p>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
        {% include 'portfolio/partials/resume_summary.html' %}
        {% include 'portfolio/partials/resume_education.html' %}
      </div>

      <div class="col-lg-6" data-aos="fade-up" data-aos-delay="200">
        {% include 'portfolio/partials/resume_experience.html' %}
      </div>
    </div>
  </div>
</section>