<section id="skills" class="skills section light-background">
  <div class="container section-title" data-aos="fade-up">
    <h2>Skills</h2>
    <p>My technical expertise and proficiency levels in various technologies</p>
  </div>

  <div class="container" data-aos="fade-up" data-aos-delay="100">
    <div class="row skills-content skills-animation">
      <div class="col-lg-6">
        {% include 'portfolio/partials/skills_column.html' with skills=skills_left column_type='left' %}
      </div>
      <div class="col-lg-6">
        {% include 'portfolio/partials/skills_column.html' with skills=skills_right column_type='right' %}
      </div>
    </div>
  </div>
</section>