<div class="col-lg-4 col-md-6 service-item d-flex" data-aos="fade-up" data-aos-delay="100">
  <div class="icon flex-shrink-0"><i class="bi bi-briefcase"></i></div>
  <div>
    <h4 class="title"><a href="#" class="stretched-link">Web Development</a></h4>
    <p class="description">Full-stack web development using Django, React, and modern technologies</p>
  </div>
</div>

<div class="col-lg-4 col-md-6 service-item d-flex" data-aos="fade-up" data-aos-delay="200">
  <div class="icon flex-shrink-0"><i class="bi bi-card-checklist"></i></div>
  <div>
    <h4 class="title"><a href="#" class="stretched-link">API Development</a></h4>
    <p class="description">RESTful API development and integration for seamless data exchange</p>
  </div>
</div>

<div class="col-lg-4 col-md-6 service-item d-flex" data-aos="fade-up" data-aos-delay="300">
  <div class="icon flex-shrink-0"><i class="bi bi-bar-chart"></i></div>
  <div>
    <h4 class="title"><a href="#" class="stretched-link">Database Design</a></h4>
    <p class="description">Efficient database design and optimization for scalable applications</p>
  </div>
</div>k