{% load static %}
<div class="swiper-slide">
  <div class="testimonial-item">
    <p>
      <i class="bi bi-quote quote-icon-left"></i>
      <span>Dharmik delivered an exceptional web application that exceeded our expectations. His attention to detail and technical expertise made the project a great success.</span>
      <i class="bi bi-quote quote-icon-right"></i>
    </p>
    <img src="{% static 'img/testimonials/testimonials-1.jpg' %}" class="testimonial-img" alt="">
    <h3>John Smith</h3>
    <h4>CEO & Founder</h4>
  </div>
</div>