<h3 class="resume-title">Summary</h3>
<div class="resume-item pb-0">
  <h4>{{ profile.name|default:"Dharmik Nakrani" }}</h4>
  <p><em>{{ resume.summary|default:"Innovative and deadline-driven Software Developer with 3+ years of experience designing and developing user-centered web applications from initial concept to final, polished deliverable." }}</em></p>
  <ul>
    <li>{{ profile.address|default:"Mumbai, Maharashtra, India" }}</li>
    <li>{{ profile.phone|default:"(+91) 12345-67890" }}</li>
    <li>{{ profile.email|default:"dharmik.nakrani@example.com" }}</li>
  </ul>
</div>